{{ define "main" }}
<main>
    <article>
        <header class="">
            <div>
                <a href="{{.Site.BaseURL}}{{.Section}}">{{ humanize .Section | upper}}</a>
            </div>
            <h1 class="">{{- .Title -}}</h1>
            {{ partial "acoes-github" . }}
        </header>

        {{- .Content -}}
    </article>

    {{ range .Params.tags }}
    <li class="list">
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="">
            {{- . -}}
        </a>
    </li>
    {{ end }}
</main>
{{ end }}
